{% extends 'base.html'%}
{% load staticfiles  %}


{% block body_block %}

<div class="_text">

  <p></p>
  <p>Hi, I'm Mahathir.</p>
  <p>I am an I.C.T student, currently based in 🏢 London.</p>
  <p>Resourceful customer service with over 1 year of experience resolving customer complaints and promoting conflict resolution.
In spare time I learn new in programming skills and build projects.
</p>


</div>


<div class="footer-social-links">
  <!-- <p id="sayhi">Say Hi!</p> -->
  <a href="https://www.facebook.com/shad.islai"><i class="fa fa-facebook"></i></a>
  <a href="https://www.instagram.com/shad5i/"> <i class="fa fa-instagram"></i></a>
  <a href="https://www.linkedin.com/in/mahathir-saad-islam-ab27a2199/"> <i class="fa fa-linkedin"></i></a>

</div>

{% endblock %}
