{% extends 'base.html'%}
{% load staticfiles  %}


{% block body_block %}

<div class="_text">

  <div class="timeline">
    <div class="container_ left">
      <div class="content">
        <h2>2019 -present</h2>
        <h3>Company: <a href="https://www.google.com/search?safe=strict&rlz=1C1CHBF_en-GBGB811GB811&sxsrf=ALeKk02xxYO3jgnjbxXNwQQPDHVBQrtFsw%3A1585778890699&ei=yhCFXtulKqOy8gLJpazQAw&q=ambala+foods+limited+southall&oq=ambala+foods+limited+south&gs_lcp=CgZwc3ktYWIQAxgAMgUIIRCgATIFCCEQoAEyBQghEKABOgYIABAWEB46BQgAEM0COgQIIRAVUKMBWIocYL4kaABwAHgAgAH2AYgB-BCSAQUwLjQuN5gBAKABAaoBB2d3cy13aXo&sclient=psy-ab">
          <strong>Ambala Food</strong>
        </a></h3>
        <p>Role: <strong>Customer Service</strong></p>
        <p>My main job was to assist customer, taking calls, doing refunds.</p>
      </div>
    </div>
    
  </div>


</div>


{% endblock %}
