{% extends 'base.html'%}
{% load staticfiles  %}


{% block body_block %}

<div class="_text">

<h3>PROFESSIONAL SKILLS</h3><br>
<p></p>
  <ul>
    <h4><strong>Information Technology</strong></h4>
    <li><p>Comfortable working both in Microsoft Windows 10 and Linux OS.</p></li>
    <li><p>Microsoft Office programs (<strong>Word, Excel, PowerPoint, Adobe softwares</strong>)</p></li>
    <li><p>Programming skills;</p></li>
    <ul>
      <li>Python.</li>
      <li><strong>Web:</strong> Django, Html, CSS.</li>
    </ul>
  </ul>
  <p></p>
  <ul><br>
    <h4><strong>other</strong></h4>
    <li>Customer Service</li>
    <li>Till handling</li>
  </ul>

  <div class="footer-social-links-skills">
    <!-- <p id="sayhi">Say Hi!</p> -->
    <a href="https://www.linkedin.com/in/mahathir-saad-islam-ab27a2199/"> <i class="fa fa-linkedin"></i></a>

  </div>

</div>




{% endblock %}
